/*PALETA DE COLORES*/

.wms-color-secundario-letra {
    color: #378de5;
}
.vms-background-secundario {
    background-color: #378de5;
}
.vms-background-card-completed {
    background-color: #49ff49;
}

.wms-footer{
    display: flex;
    justify-content: center;
}

.wms-subtitulo-azul{
    margin-top: 90px;
}

.wms-navbar-layout {
    position: fixed;
    top: 0;
    width: 100%;
}

.wms-card-home:hover {
    background: #f1efef;
    cursor: pointer;
}

.wms-op-req-cards{
    display: flex;
}

.wms-op-req-cards * {
    width: 20%;
}

.wms-borde-card {
    border: 1px solid #f1efef;
}

.wms-material-hover:hover {
    cursor: pointer;
    color: #378de5;
}

#preloader_4 {
    display: flex;
    justify-content: center;
}

    #preloader_4 span {
        width: 20px;
        height: 20px;
        background: #3498db;
        opacity: 0.5;
        border-radius: 20px;
        animation: preloader_4 1s infinite ease-in-out;
    }

        #preloader_4 span:nth-child(2) {
            left: 20px;
            animation-delay: .2s;
        }

        #preloader_4 span:nth-child(3) {
            left: 40px;
            animation-delay: .4s;
        }

        #preloader_4 span:nth-child(4) {
            left: 60px;
            animation-delay: .6s;
        }

        #preloader_4 span:nth-child(5) {
            left: 80px;
            animation-delay: .8s;
        }

@keyframes preloader_4 {
    0% {
        opacity: 0.3;
        transform: translateY(0px);
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
    }

    50% {
        opacity: 1;
        transform: translateY(-10px);
        background: #f1c40f;
        box-shadow: 0px 20px 3px rgba(0, 0, 0, 0.05);
    }

    100% {
        opacity: 0.3;
        transform: translateY(0px);
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
    }
}

.flex-space{
    display: flex;
    justify-content: space-around;
}

.margin-total {
    margin: 0px 0px 20px;
}

.fondo-home {
    background-image: url("/Images/fondo2.png");
}

.letra-blanca{
    color: #ffffff;
}

.fuente-wms{
    font-size: 20px;
    color: #000000;
}

.filtro-material{
    overflow-x: scroll;
    display: flex;
}

.material-filtro-padding {
    padding: 0 5px 0 5px;
    font-size: 14px;
}