
@{
    ViewBag.Title = "Index";
}

<main class="uk-padding">
    <div>
        <h1 class="uk-nav-center wms-color-secundario-letra wms-subtitulo-azul" id="plantaTitulo"></h1>
    </div>
    <div class="uk-flex uk-margin-medium-bottom uk-overflow-auto">
        <div class="uk-flex">
            <label class="uk-margin-small-right">Filter: </label>
            <select class="uk-select uk-width-small" aria-label="Select" onchange="cargarFiltro()" id="selectFiltro">
                <option value="24">24 Hrs</option>
                <option value="todo">All</option>
            </select>
            <label class="uk-margin-small-right uk-margin-left">Storage bin: </label>
            <select class="uk-select uk-width-small" aria-label="Select" id="filtroMaterialSelectOR" onchange="filtroMaterialFunc()">
            </select>
        </div>
        <div class="uk-flex">
            <label class="uk-margin-large-left uk-margin-small-right">Storage type: </label>
            <div class="uk-flex" id="filtro-tipo-almacenamiento">
            </div>
        </div>
    </div>
    <div class="uk-margin-bottom uk-flex">
        <label>Last update: </label>
        <label id="lastUpdateOR"></label>
    </div>
    <div id="requerimientos">

    </div>
</main>

<div id="modal-qr" class="uk-flex-top" uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">

        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="uk-flex">
            <div id="qrcode" class="uk-padding"></div>
            <div class="uk-padding">
                <h3 id="qr-p"></h3>
                <p id="parte-p"></p>
                <p id="material-p"></p>
                <button class="uk-button uk-button-primary" onclick="completarRequerimiento()">Completed</button>
            </div>
        </div>
    </div>
</div>

<div id="preloader_4">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
</div>

<script src="~/Scripts/OpenReq/OpenReq.js"></script>
<script src="~/Scripts/moment-with-locales.js"></script>
<script src="~/Scripts/moment.js"></script>
<script src="~/Scripts/qrcode.js"></script>