
@{
    ViewBag.Title = "Index";
}

<main class="uk-padding">
    <div>
        <h1 class="uk-nav-center wms-color-secundario-letra wms-subtitulo-azul">Developing...</h1>
    </div>
    <div class="uk-flex uk-flex-center">
        <img src="~/Images/desarrollo.png" width="300"/>
    </div>
</main>

